body{
    margin:0px;
    color:white;
}


.nav-bar{
    width:100%;
    background-color: rgb(176, 68, 86);
    height:60px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.logo{
    width:auto;
    height:30px;
    padding-right:4px;
}